<!-- Update gravatar link to use ur own. Use s=64 to make avatar still look good on retina displays -->

<a id="slidemenu-toggle" href="{{@blog.url}}" class="site-nav-logo"><span class="logo" style="background-image: url(http://2.gravatar.com/avatar/b5b27710a297b68fffd661e7741645de)"></span></a>